.chooseImage {
  .btn {
    margin: 0 5px;
  }
}

.am-toast-notice-content .am-toast-text.am-toast-text-icon .am-toast-text-info {
  color: #fff;
}

.previewImage {
  .am-modal-content {
    background-color: rgba(0, 0, 0, .8);
  }
  .carousel {
    top: 50%;
    margin-top: -150px;
  }
  .title, .am-modal-close {
    margin-top: 25px;
  }
  .item {
    display: inline-block;
    width: 100%;
    min-height: 150px;
    margin: 0; padding: 0;
  }
  .item img {
    width: 100%;
    vertical-align: top;
  }
}

.record {
  text-align: center;
  .header {
    margin: 25px;
    color: #ccc;
    .title {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  .time {
    margin: 25px;
    font-size: 48px;
  }
  .am-button {
    margin-right: 10px;
  }
}
.chooseAlipayContact {
  .am-checkbox {
    border-radius: 0;
  }
  .am-checkbox-inner {
    border: 1px solid #888;
    border-radius: 50%;
  }
}

.record,
.chooseAlipayContact,
.choosePhoneContact {
  .am-modal-close {
    margin-top: 5px;
  }
  .am-indexed-list-quick-search-bar {
    position: absolute;
    top: 30px,
  }
}

.chooseCity {
  .am-list-header {
    background-color: #f5f5f9;
  }
  .primaryCity {
    text-align: left;
    &>div {
      &>h3 {
        font-size: 14px;
        font-weight: 300;
      }
      &>div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        &>div {
          width: 32%;
          margin-bottom: 4px;
        }
      }
    }
  }
}